# mongod.conf

# temporary file, for initial setup - NO SECURITY

systemLog:
{{ mongo_systemlog | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

storage:
  dbPath: {{ mongo_storage.dbPath }}
  engine: wiredTiger
{% if mongo_storage.wiredTiger is defined %}
  wiredTiger:
{{ mongo_storage.wiredTiger | to_nice_yaml(indent=4) | indent(width=4, first=True) }}
{% endif %}

processManagement:
  fork: false
  pidFilePath: {{ mongo_processmanagement.pidFilePath }}
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: {{ mongo_net.port }}
  bindIp: {{ mongo_net.bindIp }}

{% if replication_init is defined and replication_init %}
replication:
{{ mongo_replication | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% endif %}

# NO SECURITY SECTION - for user creation